$item-width: 10rem;
$item-height: 3rem;
$item-padding: .5rem;
$item-font-size: 1rem;
$item-background: #f2f2f2;
$menu-background: #000000;
$item-color: darken($item-background, 75%);
$active-item-background: darken($item-background, 10%);
$active-item-color: darken($active-item-background, 75%);
$item-radius: $item-padding * 2;
$menu-radius: 12rem;
$line-thickness: .75rem;
$line-color: $item-background;
$active-line-color: $active-item-background;

.marking-menu {
  position: absolute;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

.marking-menu-background {
	top: -$menu-radius;
	left: -$menu-radius;
	width: $menu-radius * 2;
	height: $menu-radius * 2;
	position: absolute;
	border-radius: $menu-radius;
	background-color: $menu-background;
}

.marking-menu-item {
  .marking-menu-line {
    position: absolute;
    top: -$line-thickness / 2;
    background-color: $line-color;
    width: $menu-radius + $item-radius + $line-thickness;
    height: $line-thickness;
		transform-origin: center left;
		transform: rotate(var(--rotate));
	}

  .marking-menu-slice {
		top: -$menu-radius;
    left: -$menu-radius;
    width: $menu-radius * 2;
    height: $menu-radius * 2;
    position: absolute;
		transform: rotate(var(--rotate));

		circle {
			r: $menu-radius / 2;
			cx: $menu-radius;
			cy: $menu-radius;
			fill: transparent;
			stroke: $item-background;
			stroke-width: $menu-radius;
			stroke-dasharray: calc(var(--width) * #{$menu-radius} * 3.1415 / 100) calc(#{$menu-radius} * 3.1415);
		}
	}
	
  .marking-menu-label {
		top: var(--top);
		left: var(--left);
    color: $item-color;
    width: $item-width;
    height: $item-height;
    display: flex;
    padding: $item-padding;
    overflow: hidden;
    position: absolute;
    font-size: $item-font-size;
    text-align: center;
    align-items: center;
    text-overflow: ellipsis;
    justify-content: center;
  }

  &.active {
    .marking-menu-line {
      background-color: $active-line-color;
		}
		
		.marking-menu-slice circle {
			stroke: $active-item-background;
		}

    .marking-menu-label {
      color: $active-item-color;
      font-weight: bolder;
    }
  }
}
