$item-width: 10rem;
$item-height: 3rem;
$item-padding: .5rem;
$item-font-size: 1rem;
$item-background: #f2f2f2;
$item-color: darken($item-background, 75%);
$active-item-background: darken($item-background, 10%);
$active-item-color: darken($active-item-background, 75%);
$item-radius: $item-padding * 2;
$menu-radius: 7.5rem;
$line-thickness: .75rem;
$line-color: $item-background;
$active-line-color: $active-item-background;

.marking-menu {
  position: absolute;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

.marking-menu-item {
  .marking-menu-line {
    position: absolute;
    top: -$line-thickness / 2;
    background-color: $line-color;
    width: $menu-radius + $item-radius + $line-thickness;
    height: $line-thickness;
		transform-origin: center left;
		transform: rotate(var(--rotate));
	}
	
  .marking-menu-label {
		top: var(--top);
		left: var(--left);
    color: $item-color;
    width: $item-width;
    height: $item-height;
    display: flex;
    padding: $item-padding;
    overflow: hidden;
    position: absolute;
    font-size: $item-font-size;
    text-align: center;
    align-items: center;
    border-radius: $item-radius;
    text-overflow: ellipsis;
    justify-content: center;
    background-color: $item-background;
  }

  &.active {
    .marking-menu-label {
      background-color: $active-item-background;
      color: $active-item-color;
      font-weight: bolder;
    }

    .marking-menu-line {
      background-color: $active-line-color;
    }
  }
}
